In [58]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import json

# Conectar ao banco de dados PostgreSQL
conn_string = "postgresql://postgres:manager@localhost:5432/postgres"
db = create_engine(conn_string)

In [46]:
query = """
WITH exploded_features AS (
    SELECT
        location_id,
        unnest(features) AS feature
    FROM
        ta_location_details
    UNION ALL
    SELECT
        location_id,
        unnest(cuisines) AS feature
    FROM
        ta_location_details
)
SELECT
    location_id,
    jsonb_object_agg(feature, 1) AS features
FROM
    exploded_features
GROUP BY
    location_id;
"""


df_features = pd.read_sql(query, db)
df_features.head()

   location_id                                           features
0      4528830  {'Pizza': 1, 'Entrega': 1, 'Italiana': 1, 'Par...
1      5397516  {'Mexicana': 1, 'Brasileira': 1, 'Sul-american...
2     27273753              {'Brasileira': 1, 'Sul-americana': 1}
3     10693572              {'Brasileira': 1, 'Sul-americana': 1}
4      6004734  {'Brasileira': 1, 'Para levar': 1, 'Sul-americ...

In [47]:
# Normalizar o JSONB em colunas separadas
df_features_expanded = pd.json_normalize(df_features['features'])
df_features_expanded

,Pizza,Entrega,Italiana,Para levar,Serviço de mesa,Acesso para cadeirantes,Mexicana,Brasileira,Sul-americana,Bufê,...,Afegã,Bares de esportes,Asiática central,Nepalesa,Ucraniana,Leste europeia,Sicília,Egípcia,Africana,Belga
0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
# Adicionar o location_id de volta ao DataFrame
df_features_expanded['location_id'] = df_features['location_id']
df_features_expanded

,Pizza,Entrega,Italiana,Para levar,Serviço de mesa,Acesso para cadeirantes,Mexicana,Brasileira,Sul-americana,Bufê,...,Bares de esportes,Asiática central,Nepalesa,Ucraniana,Leste europeia,Sicília,Egípcia,Africana,Belga,location_id
0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4528830
1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5397516
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27273753
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10693572
4,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6004734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13789953
1045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14014062
1046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13349821
1047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12843970
1048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13880205

In [49]:
# Preencher valores nulos com 0 (ausência da feature)
df_features_expanded = df_features_expanded.fillna(0)

In [50]:
# Exibir o DataFrame expandido
df_features_expanded

,Pizza,Entrega,Italiana,Para levar,Serviço de mesa,Acesso para cadeirantes,Mexicana,Brasileira,Sul-americana,Bufê,...,Bares de esportes,Asiática central,Nepalesa,Ucraniana,Leste europeia,Sicília,Egípcia,Africana,Belga,location_id
0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4528830
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5397516
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27273753
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10693572
4,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6004734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13789953
1045,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14014062
1046,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13349821
1047,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12843970
1048,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13880205

In [55]:
# Carregar a tabela original
df_original = pd.read_sql("""SELECT name, 
                          ranking_position, 
                          rating, 
                          num_reviews, 
                          review_rating_1, 
                          review_rating_2, 
                          review_rating_3, 
                          review_rating_4, 
                          review_rating_5, 
                          food_rating, 
                          service_rating, 
                          value_rating, 
                          price_level, 
                          weekdays_opening_hours,  
                          location_id 
                          FROM 
                          ta_location_details""", db)

# Fazer o join com a tabela original
df_final = pd.merge(df_original, df_features_expanded, on='location_id', how='inner')

# Exibir o DataFrame final
print(df_final.head())

                          name  ranking_position  rating  num_reviews  \
0                Ile de France             255.0     4.0          178
1          Yu Cozinha Oriental             160.0     4.5          238
2              Mangiare Felice              65.0     4.5          531
3        Armazém Santo Antônio              85.0     4.5          299
4  Lellis Trattoria - Curitiba              74.0     4.5          826

   review_rating_1  review_rating_2  review_rating_3  review_rating_4  \
0                7               16               24               36
1                4                4               21               95
2                9               17               40              180
3                7                6               14               80
4               17               23               67              266

   review_rating_5  food_rating  ...  Afegã  Bares de esportes  \
0               95          4.5  ...    0.0                0.0
1              114          4.5  ...    0.0                0.0
2              285          4.5  ...    0.0                0.0
3              192          4.5  ...    0.0                0.0
4              453          4.5  ...    0.0                0.0

  Asiática central Nepalesa  Ucraniana  Leste europeia  Sicília  Egípcia  \
0              0.0      0.0        0.0             0.0      0.0      0.0
1              0.0      0.0        0.0             0.0      0.0      0.0
2              0.0      0.0        0.0             0.0      0.0      0.0
3              0.0      0.0        0.0             0.0      0.0      0.0
4              0.0      0.0        0.0             0.0      0.0      0.0

   Africana  Belga
0       0.0    0.0
1       0.0    0.0
2       0.0    0.0
3       0.0    0.0
4       0.0    0.0

[5 rows x 128 columns]

In [57]:
price_level_mapping = {
    '$': 1 ,
    '$$ - $$$':2 ,
    '$$$$':3 
}

df_final.replace({'price_level': price_level_mapping}, inplace=True)

0       3
1       2
2       2
3       2
4       2
       ..
1044
1045
1046
1047    2
1048    2
Name: price_level, Length: 1049, dtype: object

In [61]:
# Converter a coluna weekday_opening_hours para dicionário
df_final['weekdays_opening_hours'] = df_final['weekdays_opening_hours'].apply(json.loads)

# Exibir os dados após a conversão
print(df_final.head())

JSONDecodeError: Expecting ':' delimiter: line 1 column 25 (char 24)

In [54]:
# Ou salvar de volta no PostgreSQL
df_final.to_sql('ta_features_expanded', db, if_exists='replace', index=False)

29